html {

background-color: #181818;

}


#bp {
  color: white;
  font-size: 8vw;
margin: 0;
text-align: center; 
  height: 50%;
  display: flex;
  justfy-content: center;
  align-items: center;
  
}

#bpdiv {
height: 30vh;
width: 100%;
background-color: #242424;
padding: 20px;
  box-sizing: broder-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
