html {

background-color: #181818;

}


#bp {
  color: white;
  font-size: 8vw;
margin: 0;
text-align: center; 
  height: 50%;
  display: flex;
  justfy-content: center;
  align-items: center;
  
}

#bpdiv {
height: 30vh;
width: 100%;
background-color: #242424;
padding: 20px;
  box-sizing: broder-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#infobox {
            background-color: #242424; 
            color: white; 
            width: 100%; 
            position: absolute;
            bottom: 0; /* Stick to the bottom of the page */
            left: 0; /* Align to the left edge */
            padding: 20px; /* Add padding for some space around the content */
            box-sizing: border-box; /* Include padding in width calculation */
            text-align: center; /* Center the text horizontally */
}
#githubCat {
            display: block;      /* Make the image block level */
            width: 25%;       /* Set desired width */
            height: 25%;       /* Set desired height */
            border: none;        /* Remove border */
            padding: 0;         /* Remove padding */
            margin: 0;          /* Remove margin */
            background: transparent;   /* Remove background */
        }
